/*<style>*/

/* latin */
/*@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(http://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300);

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  /*font-weight: 200;*/
  font-size: 10px;
  /*src: url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300);*/
}

table {
  width:100%;
  border-collapse: collapse;
}

table , th ,td {
  border: 1px solid #eee;
}

th {
  font-size :9px;
}

td {
  font-size :8px;
}

.flt {
  display: none;
}

.avg {
  font-style: italic;
  text-decoration: overline;
}
.days {
    width: 15px !important;
    /*min-width: 5%;*/
    /*max-width: 8%;*/
}

/*.resume_compact_footer , .compact_header ,	.detail_header{
		display: none;
	}*/

.pull-right {
  float: right !important;
}

.printed_head {
  font-size:6px;
}

.footer_legend {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  /*background-color: #efefef;*/
  text-align: center;
  font-size:7px
}

.helpCont , .helpBtn ,caption {
  display: none;
}

.dash_datetime{
  display: inline-block;
}

/* Remove unwanted elements */
#header, #nav, .noprint {
display: none;
}

/* Ensure the content spans the full width */
#container, #container2, #content {
width: 100%; margin: 0; float: none;
}
/* Change text colour to black (useful for light text on a dark background) */
/*.lighttext {
color: #000
}*/
/* Improve colour contrast of links */
a:link, a:visited {
color: #781351
}
